<template>
  <div class="form-container">
    <form @submit.prevent="sendForm">
        <div class="input-field">
          <input id="icon_prefix" type="text" class="validate" 
           v-model="name">
          <label for="icon_prefix">Имя</label>
        </div>
        <div class="input-field">
          <textarea id="textarea1" class="materialize-textarea"
           v-model="comment" data-length=limit :maxlength = "this.textareaLimit"></textarea>
          <label for="textarea1">Комментарий</label>
          <span class="textarea-limit">{{this.comment.length}} / {{ this.textareaLimit }}</span>
        </div>
      <button type="submit" class="waves-effect waves-light btn">Отправить</button>
    </form>
      <div class="result-field">
        {{ response }}
      </div>
  </div>
</template>

<script> 
import axios from 'axios';

export default {
  name: 'simpleForm',
  data: function() {
    return {
      name: "", 
      comment: "", 
      response: "", 
      textareaLimit: 100
    }
  },
  methods: {
    async sendForm() {
      console.log(process.env)
      const port = process.env.VUE_APP_APIPORT || 3111;
      await axios({
        url: `http://localhost:${port}/send-form`,
        method: 'post',
        data: {
          name: this.name,
          comment: this.comment
        }
      }).then(response => (this.response = response.data))
    }
  }
}
  
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  form{
    width: 100%;
  }

  .form-container {
    width: 860px;
    display: inline-block;
    background-color: white;
    border: #bbbbbb dashed 2px;
    padding: 10px;
    margin: 60px;
  }

  .textarea-limit{
    float: right;
  }

  .result-field{
    margin-top: 30px;
  }
</style>
