<template>
  <div id="app">
    <simpleForm />
  </div>
</template>

<script>
import simpleForm from './components/simpleForm.vue'
import 'materialize-css/dist/css/materialize.min.css';
import 'materialize-css/dist/js/materialize.min';

export default {
  name: 'App',
  components: {
    simpleForm
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
</style>
